<div class="list-group">
  <%= link_to  site_about_path, class:"list-group-item active" do %>
      Sobre Nós
  <% end %>
  <%= link_to  site_manual_path, class:"list-group-item"  do %>
      Manual
  <% end %>
  <%= link_to  new_site_contact_path, class:"list-group-item"  do %>
      Fale conosco
  <% end %>
</div>
