<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
<div class="page-header">
  <h1> <%= t('.title') %></h1>
</div>
<%= render 'form', relative: @relative , disappeared: @disappeared, disappearance: @disappearance  %>
</div>
</div>

