<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<strong>
  <p>Enviado por: <%= @name%></p>
  <p>Email de: <%= @email%></p>
  <p>Mensagem: <%=  @content %></p>
</strong>
</body>
</html>