<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p style="text-align: justify;">O sistema<strong>&nbsp;"Ajude com um click!" </strong>n&atilde;o tem fins lucrativos e<strong>&nbsp;</strong>foi idealizado depois de v&ecirc; as dificuldades encontradas por pessoas que voluntariamente se doam para ajudar tantos familiares que procuram pelo desaparecimento de entes queridos pelo nosso Brasil.</p>
      <p style="text-align: justify;">Com o sistema veio a oportunidade de trazer algu&eacute;m para casa atrav&eacute;s da rede social "<strong>Facebook</strong>" e sua tecnol&oacute;gia de <strong>"Reconhecimento Facial"</strong>, porque o sistema gerencia para os volunt&aacute;rios os cadastros de desaparecido, desaparecimento e familiar, al&eacute;m de controlar todas as notifica&ccedil;&otilde;es recebidas pelo faceboook, assim ter&atilde;o mais agilidade no processo de reencontro dessas pessoas.</p>
      <p style="text-align: justify;">Tudo que voc&ecirc; precisa fazer para ajudar a encontrar essas pessoas desaparecidas pelo Brasil a ir ao encontro desses entes queridos &eacute; adicion&aacute;-los como amigo que o <strong>Facebook</strong> far&aacute; o resto. Ent&atilde;o fa&ccedil;a parte desse voluntariado, adicionando essas pessoas como amigas, porque pode ser que um amigo seu conhe&ccedil;a uma dessas pessoas pelo Brasil, asssim todos formam uma rede de solidariedade&nbsp;<img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-innocent.gif" alt="innocent" /></p>
      <p style="text-align: justify;">Seu feed n&atilde;o ser&aacute; preenchido com postagens ou imagens.&nbsp;Esses perfis ser&atilde;o um amigo invis&iacute;vel na sua lista de amizade.&nbsp;Mas isso pode ajudar a trazer algu&eacute;m para casa.</p>
      <p style="text-align: justify;">O facebook tem uma ferramenta de reconhecimento facial que permite descobrir quando o usu&aacute;rio aparece em fotos, mesmo que n&atilde;o tenha sido marcado no post.</p>
      <p style="text-align: justify;"><strong>Algumas perguntas comuns:</strong></p>
      <p style="text-align: justify;"><strong>1)</strong>&nbsp;<strong>O reconhecimento facial funciona em v&iacute;deos?&nbsp;</strong></p>
      <ul style="text-align: justify;">
        <li>&nbsp;Sim, fotos e v&iacute;deos.</li>
      </ul>
      <p style="text-align: justify;"><strong>2)</strong>&nbsp;<strong>Tenho que marcar essas pessoas nas minhas fotos?</strong></p>
      <ul style="text-align: justify;">
        <li>N&atilde;o. O Facebook procura automaticamente o rosto nas fotos e a notifica&ccedil;&atilde;o &eacute; enviada ao perfil dele.</li>
      </ul>
      <p style="text-align: justify;"><strong>3)</strong>&nbsp;<strong>O que acontece depois de serem reconhecidos?</strong></p>
      <ul style="text-align: justify;">
        <li>Os administradores do perfil da pessoa desaparecida (amigos ou familiares) receber&atilde;o a notifica&ccedil;&atilde;o pelo sistema&nbsp;<strong>"Ajude com um click"</strong>&nbsp;de que seu ente querido foi visto, assim as investiga&ccedil;&otilde;es poderam ser prosseguidas.</li>
      </ul>
      <p style="text-align: justify;"><strong>4)</strong>&nbsp;<strong>E se algu&eacute;m quisesse usar essa tecnologia para ficar de olho em mim?</strong></p>
      <ul style="text-align: justify;">
        <li>Eles n&atilde;o podem. A raz&atilde;o pela qual o Facebook introduziu essa tecnologia foi impedir que isso acontecesse.</li>
        <li>Por exemplo: se Anna tem um ex que queria ficar de olho nela, ele poderia fazer um novo perfil usando fotos dela. No entanto, esta tecnologia alertaria Anna que algu&eacute;m fez um perfil usando sua imagem e ela poderia resolver o problema.</li>
      </ul>
      <p style="text-align: justify;"><strong>5) Como um amigo invis&iacute;vel pode pesquisar muitas fotos?</strong></p>
      <ul style="text-align: justify;">
        <li>A marca&ccedil;&atilde;o autom&aacute;tica n&atilde;o s&oacute; funciona para amigos, mas tamb&eacute;m para amigos de amigos. O que significa quando qualquer um dos seus amigos publica fotos com o p&uacute;blico-alvo definido como amigos de amigos, eles tamb&eacute;m est&atilde;o participando da pesquisa.</li>
      </ul>
    </div>
  </div>
</div>
<div class="container" style="text-align: justify;">&nbsp;</div>