<div class="thumbnail">
  <img class="img-responsive" src="/assets/ajudecom1click.png" alt="" />
  <div class="caption-full">
    <strong>O "Ajude com um click" é um sistema desenvolvido sem fins lucrativos e disposto a ajudar familiares a encontrarem parentes, amigos que estão desaparecidos e desencontrados.
    Para saber mais informações, leia o manual do sistema e comece já!</strong>
  </div>
</div>